/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

img {
width: 100%;
display: block;
}

/* HEADER SECTION */
header img {
    padding-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 123px;
}

header {
    border-bottom: 1px solid #00000003;
    border-radius: 0 0 13px 13px;
    box-shadow: 0px 4px 18px -6px #0057ff;
    margin-bottom: 122px;
    background-color: white;
}

/* MAIN SECTION */
body {
    background-color: #d9e5f3;
}
.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #134077;
    margin-bottom: 22px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_card {
    border: 1px solid #134077;
    display: flex;
    flex-direction: column;
    width: 662px;
    padding-top: 46px;
    padding-bottom: 52px;
    padding-left: 36px;
    padding-right: 47px;
    border-radius: 19px;
    background-color: white;
}
label {
    font-size: 13px;
    margin-bottom: 19px;
    font-weight: 700;
    color: #231F20;
}
input::placeholder {
    font-size: 20px;
    color: #cccccc;
}
.input_field_style {
    width: 579px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #2d224c;
    padding-block: 8px;
    margin-bottom: 47px;
}
.blue_btn {
    background-color: #0057ff;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    border-radius: 11px;
    border-style: none;
    text-align: center;
}
#login_btn {
    width: 577px;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-bottom: 49px;
}

.register_invite {
    align-self: center;
    color: #2D224C;
}
.register_invite span {
    font-weight: 700;
}

/* HOME.php */
.welcome {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #134077;
    margin-bottom: 85px;
}
.container-wide {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.single_event {
    border: 1px solid #134077;
    display: flex;
    flex-direction: column;
    width: 349px;
    padding-top: 37px;
    padding-bottom: 34px;
    padding-left: 28px;
    padding-right: 31px;
    border-radius: 19px;
    background-color: white;
}
.event_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 13px;
}
.event_date {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 21px;
}
.join_btn {
    padding-top: 20px;
    padding-bottom: 19px;
    padding-inline: 29px;
    margin-bottom: 34px;
    align-items: center;
    border-radius: 11px;
}